.card {
    padding: 2em;
   
  }

  .container{
    height: 50px;
    width: 50%;
    border: 2px solid;

  }

  .Carousels{
    padding: 2px 5px;
    text-align: center;
    height: 150px;
    width: 50%;
    
  }